.logoLogin{
    margin: 20%;
    padding: 1%;
    content: url("./img/logotrans.png");
    width: 142px;
    height: 142px;
}

.textParagraphLogin{
    margin-bottom: 25%;
}
.textLoginInputs{
    display: inline-block;
    margin: 5px;
}
.buttonInputs{
    display: inline-block;
    background-color: rgb(182, 215, 168);
    box-shadow: 4px 4px;
    margin: 5%;
    
}
iframe{
    width:100%;
    height:100%;
    border:0px;
    background:white;
}
#linksLogin{
    padding: 15%;
}

#wrapper{
    text-align: center;
}



.container {
    margin: 3%;
}
.textLoginInputs
{
	padding: 5px;
	margin-bottom: 25px;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
    border:none;
    width: 250px;
	border-bottom: 2px solid #999;

}
.error_form
{
	top: 12px;
	color: rgb(216, 15, 15);
    font-size: 12px;
    font-family: Helvetica;
}
p{
    max-height: 20px;
    margin-bottom: 10px;
}

.regContain{
    margin: auto;
    height: 100px;
    overflow: hidden;
}

body{
    overflow:hidden;
}

.bodyIframe{
    background-image: url("./img/background.jpg");
}
@media screen and (min-width:1025px) {
    iframe{
        width:40%;
        height:90%;
        border:0px;
        position: absolute;
        right: 5%;
        top: 5%;
        background:white;
        box-shadow:0 0 30px 5px #fff;
        overflow:auto;
        border-radius: 30px;
        border:10px solid #212121; 
    }
}

@media screen and (max-width: 568px){
    .logoLogin{
        margin: 10%;
        padding: 1%;
    }
    .regContain{
        margin: auto;
        height: 70px;
        overflow: hidden;

    }
}

@media screen and (orientation: landscape) and (min-width:500px) and (max-width:823px){
    .logoLogin{
      display: none;
    }
    #linksLogin{
        padding: 7%;
    }
    .container{
        margin: 10%;
    }
    #frameRegister{
        margin: 2%;
    }
    .regContain{
        height: 66px;
    }
}
.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
    /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .lastpage{
      float: left;
      padding-top: 4%;
      position: relative;
  }