nav{
    background-image: url("../../img/background.jpg");
    width: 100%;
    height: 50px;
}

ul {
  list-style: none;
}

li{
  margin: 10px 0;
  text-align: none;
}
  #wrapper{
      text-align: left;
  }

  .buttonsDivPosition{
      float: right;
      margin-right: 5%;
      margin-top: 2%;
  }
  .textDivPosition{
    margin-top: 3%;
    display: inline-block;
  }

  .orderDivPosition{
      float: right;
  }

  #maCafElBosque{
    background-color:white ;
  }
  .mapicon{
    width: 34px;
    height: 34px;
  }

  ul{
    border-top: 1px solid black;
    margin-bottom: 9%;  
  }
iframe{
  border:3px solid #212121; 

  height: 92%;
}
.simplebar-scrollbar{
  left: 7px;
}

.thBorderRight{
  padding-right: 20%;
}

.thBorderLeft{
  padding-left: 20%;
}
th{
  padding-bottom: 5%;
}
.rowButton{
  cursor: pointer;
}
.borderModal{
  border: none;
  text-align: center;

}
.borderModal > li {
  display: inline-block;
  margin: 2%;
}

